# Ignore Terraform state files and backups
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup

# Ignore Terraform plan output
*.tfplan

# Ignore sensitive Terraform environment files
# *.tfvars
*.tfvars.json
override.tf
override.tf.json

# Ignore Terraform lock files
.terraform.lock.hcl

# Ignore .terraform directory (used for storing Terraform plugins and modules)
.terraform/

# Ignore AWS credentials (if stored locally)
*.pem
*.key
.aws/

# Ignore VSCode settings and logs
.vscode/
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db
